/*
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
*{
  margin: 0;
}
body{
  background: #EFEFEF;
}
h1, h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h3, h4, h5{
  font-family: 'Quicksand', sans-serif;
}
h2, h3{
  border-bottom: 2px solid #544F49;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/*****INICIO DE HEADER******/
.logo{
  position: absolute;
}
.logo img{
  display: block;
  height: 28px;
  padding: 20px 12px;
}
.navigation {
  background: #1C3643;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 1em;
  list-style: none;
}
.navigation a {
  color: white;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.navigation a:hover {
  background: #0F0F0D;
}
.sesion{
  background: #FF4842;
  border-radius: 4px 4px 6px 6px;
  border-bottom: 3px solid #D0272A;
  margin: 0 0 0 1em;
}
.sesion:hover{/*me cambia solo el borde de abajo si me posiciono solo en ese*/
  border-bottom: 3px solid #418427;
}
.sesion a:hover{
  background: #7DCD40;
  border-radius: 4px 4px 4px 4px;
}
/*****FIN DEL HEADER******/


/*****INICIO DE DESTACADO******/
.blog{
	position: relative;
}
.portada{
	position: relative;
}
.background{
	background-image: url('../images/alii.jpg');
  background-repeat:no-repeat;
	width: 800px;
	height: 600px;
	margin: 20px auto;
	padding-top: 10px;
}
.portada .descripcion{
	position: absolute;
	background: rgba(255, 255, 255, .8);
	bottom: 30px;
	left: 20px;
	padding: 30px 30px 0 30px;
}
.data-author{
	padding: 0;
	margin: 10px 0;
	color: #515151;
}
.data-date{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
	color: #515151;
}
/*****FIN DE DESTACADO******/


/*****INICIO DE ARTICULOS******/
.articulos{
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.articles{
  margin: 2.2em 1em;
}
.articles img{
  width: 310px;
  height: 210px;
}
.article-author{
	padding: 0;
	margin: 10px 0;
	color: #040905;
}
.article-title{
  margin-top: 15px;
}
.article-fecha{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 25px;
	color: #040905;
}
/*****FIN DE ARTICULOS******/



.more{
  background: #FFFFFF;
  position: relative;
  padding: 3em;
  display: flex;
  justify-content: center;
}
.more-title{
  margin-top: 1em;
  color: #515151;
}
.more-page, .more-next, .more-last{
  margin: 0 .5em;
  padding: 1em;
  background: #EAEAEA;
  color: #515151;
  text-decoration: none;
}
