/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/
*{
  margin: 0;
}
body{
  font-family: 'Nunito', sans-serif;
  background: #EFEFEF;
}

/*****INICIO DE HEADER******/
.logo{
  position: absolute;
}
.logo img{
  display: block;
  height: 28px;
  padding: 8px 12px;
}
.navigation {
  background: #1C3643;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  list-style: none;
}
.navigation a {
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: white;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}
.navigation a:hover {
  background: #0F0F0D;
}
.sesion{
  background: #FF4842;
}
/*****FIN DEL HEADER******/


/*****INICIO DE DESTACADO******/
.blog{
	position: relative;
}
.portada{
	position: relative;
}
.background{
	background-image: url('../images/alii.jpg');
  background-repeat:no-repeat;
	width: 800px;
	height: 600px;
	margin: 20px auto;
	padding-top: 10px;
}
.portada .descripcion{
	position: absolute;
	background: rgba(255, 255, 255, .8);
	bottom: 30px;
	left: 20px;
	padding: 30px 30px 0 30px;
}
.descripcion h4 {
	padding: 0;
	margin: 10px 0;
	color: #515151;
}
.data-date{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
}
/*****FIN DE DESTACADO******/




.articulos{
    background: pink;
}
